<?xml version="1.0"?>

<!-- gz sim will check /usr/share for models, and there is a GNOME package named 'orca' that lives there. -->
<!-- So, name this model 'orca4' to avoid a conflict. -->
<!-- See: https://answers.gazebosim.org/question/28549/gz_sim_resource_path-includes-usrshare/ -->

<model>
  <name>usv</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Sergei Chashnikov</name>
    <email>serg1820@gmail.com</email>
  </author>

  <maintainer email="serg1820@gmail.com">Sergei Chashnikov</maintainer>

  <description>
    USV model for follow mode tests
  </description>
</model>
